$primary: #ce2827;
$second: #007bff;
$secondary: #605e5c;
$light: #f3f2f1;
$dark: #323130;
$danger: #eb5757;
$transparent: transparent;
$bg: #f4f5fa;
$success: #28a746;
$warning: #ffc107;
$white: #ffffff;
$black: #000000;
$muted: #6c757d;
$body: #f0f2f5;
$primaryText: #2e4765;
$primaryButton: #007bff;
$bg: #f0f2f5;
$cardShadow: #00000026; //#8558ee40;//#00000026;
$green: #28a746;
$scrollBar: rgba(0, 0, 0, .2);
$welcomeCard: rgba(0, 0, 0, 0.125);
$grey: grey;
$bannerBg: #27284a;
$mutedText: #7e7fa3;
$titleTextmuted: #a5a5a5;
$valueText: #110e0e;
$titleText: #1a1818;
$red: #f55c55;
$blue: #35afd5;
$darkBlue: #6c71ff;
$orange: #f29f5d;
