about-terms {
    background-color: white;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-top: 2px solid #00578e;
    height: 100%;
    border-bottom: 2px solid #00578e;
    border-left: 2px solid #00578e;
    border-right: 2px solid #00578e;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
}
h3 {
    margin-top: 10px;
    font-size: 1.1vw;
    margin-bottom: 10px;
}
.about {
    background-color: #e0eeef;
    margin-top: -93px;
    width: 100%;
    height: 100%;
}

.about-content {
    background-color: white;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 2px solid #00578e;
    height: 750px;
    padding: 15px;
    border-bottom: 2px solid #00578e;
    border-left: 2px solid #00578e;
    border-right: 2px solid #00578e;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
}
.about-content11 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00578e;
    padding: 7px;
}
input[type="text"] {
    background: rgb(250 242 242);
}
.about-us {
    font-size: 1.4vw;

    margin-left: 10px;
    color: white;
    z-index: 800;
}
.about-content22 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3vw;
    font-weight: bold;
}
.about-content33 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}
.about-terms {
    background-color: white;
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 2px solid #00578e;
   
    border-bottom: 2px solid #00578e;
    border-left: 2px solid #00578e;
    border-right: 2px solid #00578e;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
}