.header {
	.vl {
		border-left: 1px solid $light;
		height: 30px;
		margin: 0px 12px;
	}
	.common-icon {
		padding: 8px 14px;
		border: 1px solid $mutedText;
		margin-right: 30px;
		border-radius: 12px;
	}
	.dashboard-link {
		margin-top: 20px;
	}
}
