.header {
	height: 105px !important;
	padding: 2px !important;
	//background-color: $header !important;
	justify-content: space-between;
	display: flex;
	position: fixed;
	width: 100%;
	border-radius: 3px;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
	.logo {
		height: 100px;
		width: 100px;
		background-color: $white;
		margin-left: 8px;
		border-radius: 48px;
		padding: 5px;
		justify-content: center;
		align-items: center;
		.img {
			height: 90px;
			width: 90px;
		}
	}
	.logo1 {
		height: 100px;
		width: 100px;
		
		margin-left: 8px;
		border-radius: 48px;
		padding: 5px;
		justify-content: center;
		align-items: center;
		.img {
			height: 90px;
			width: 90px;
		}
	}
	.ant-menu-horizontal {
		border-bottom: 0;
	}
	.ant-menu-title-content {
		font-weight: 600;
		font-size: larger;
		// &:hover {
		// 	// background-color: $white;
		// 	color: $white;
		// 	border-bottom: 0;
		// }
	}
	.ant-menu-item-active {
		color: $white;
		border-bottom: 0;
	}
	// .vl {
	// 	border-left: 1px solid $light;
	// 	height: 30px;
	// 	margin: 0px 12px;
	// }
	// .common-icon {
	// 	padding: 8px 14px;
	// 	border: 1px solid $mutedText;
	// 	margin-right: 30px;
	// 	border-radius: 12px;
	// }
	// .dashboard-link {
	// 	margin-top: 20px;
	// }
}
#app > section > section:nth-child(1) > header > a{
	display: none;
}


.header,.bg-red {
	background-color:#ce0d13 !important;
}