.about-privacy {
    background-color: white;
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 2px solid #00578e;
   
    border-bottom: 2px solid #00578e;
    border-left: 2px solid #00578e;
    border-right: 2px solid #00578e;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
    font-size: 1.1vw;
    margin-bottom: 10px;
}
